@import "modules/mixin";
@import "modules/variable";
@import "modules/typography";


* {
  margin: 0;
  padding: 0;
}

body {
  a {
      text-decoration: none;
      color: $white
    }
}


h1 {
  color: $primary;
  padding: 20px;
  text-align: $text-center;
}

header {
  margin-bottom: 100px;

  nav {
    margin-inline: 50px;

    ul {

      @include flexContainer(column);
      gap: 10px;

      text-align: $text-center;
      list-style-type: none;

      li {
        background-color: $primary;
        padding: 20px;
      }
    }
  }
}



.items-container {

  @include gridContainer(100%, flex-start, flex-start);

  .item {


    margin: 40px;
    text-align: $text-center;
    // border: 1px solid $secondary;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;


    h3 {
      margin: 20px;
      text-align: $text-center;
    }

    img {
      width: 100%;
      height: 200px;
    }

    p {
      // padding: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }
}

.info-container {
  margin-inline: 50px;
  display: flex;
  flex-direction: column;

  .image-first {
    margin: 50px 0;

    img {
      width: 100%;
      height: 300px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      margin: 20px 0;

      h2 {
        margin-bottom: 20px;
        color: $primary;
        font-size: 26px;
      }
    }
  }

  .image-last {
    @extend .image-first;
  }
}

.contact-form {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;

      input {
        width: 350px;
        height: 35px;

        margin: 10px 0;
      }

      textarea {
        @extend input;
        height: 100px;
        resize: none;
      }
    }

    button {
      width: 350px;
      height: 35px;
      margin-top: 20px;

      background-color: $primary;
      border-radius: 10px;
      border: 1px solid $primary;

      color: $white;
    }

    button:hover {
      background-color: $white;
      color: $primary;
      border: 1px solid $red;
    }
  }
}


.button-container {
  text-align: right;

  button {
    background-color: $primary;
    color: $white;
    padding: 8px;
    border: none;
    margin: 8px;
    border-radius: 2px;
  }
}

//
// TABLET VIEW*****
@media (min-width: 700px) {
  @import "screens/tablet";
}


//
// DESKTOP VIEW*****
@media (min-width: 1280px) {
  @import "screens/desktop";
}
